<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <!-- HTML for the navigation bar -->


    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="signup">

      <a href="/signup">Not Register Sign Up</a>
  </div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-{{ messages[0][0] }}">
      {{ messages[0][1] }}
    </div>
  {% endif %}
{% endwith %}

</body>
</html>