<!DOCTYPE html>
<html>
<head>
    <title>fitness and wellness services</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='services.css') }}">
</head>
<body>
    <!-- HTML for the navigation bar -->
    <div class="navbar">
        <a href="/"> Home</a>
        <a href ="/about"  > About</a>
        <a href ="/images" >  Images</a>  
        <a href="/videos" >  videos </a>
        <a href ="/fitness" > Fitness</a>
        <a href ="/wellness" > Wellness</a>
        <a href="/services" >services</a>
        <a href="/contact">Contact</a>
       <a href="/signup">signup</a>
    </div>
</body>
</html>
    <header>
        <h1>fitness and wellness services</h1>
    </header>

    <div class="container">
        <div class="service">
            <h2>personal training</h2>
            <p>get one-on-one guidance from our certified trainers to achieve your fitness goals.</p>
        </div>

        <div class="service">
            <h2>yoga classes</h2>
            <p>relax your mind and body with our yoga classes designed for all levels.</p>
        </div>

        <div class="service">
            <h2>nutritional counseling</h2>
            <p>learn how to make healthy food choices and create a balanced diet with our nutrition experts.</p>
        </div>

        <div class="service">
            <h2>gym and fitness center</h2>
            <p> these facilities provide access to variety of exercise equipment and often offer group fittness classes.they are dasigned to help individuals build strength,improve cardiovascular health,and achieve fitness goals</p>

        </div>

        <div class="service">
            <h2>wellness workouts</h2>
            <p> wellness workouts are exercise routines and activities holistic well-being,including physical,mental,and emotional health.</p>
        </div>
        

        <!-- add more services as needed -->

    </div>
</body>
</html>