<!DOCTYPE html>
<html lang="en">
   <head>
    <title>Fitness And Wellness Navigation</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='viedos.css') }}">
</head>
<body>
    <!-- HTML for the navigation bar -->
    <div class="navbar">
        <a href="/"> Home</a>
            <a href ="/about"  > About</a>
            <a href ="/images" >  Images</a>  
            <a href="/videos" >  videos </a>
            <a href ="/fitness" > Fitness</a>
            <a href ="/wellness" > Wellness</a>
            <a href="/services" >services</a>
            <a href="/contact">Contact</a>
           <a href="/signup">signup</a>
    </div>

    <header>
        <h1>Fitness and Wellness Videos</h1>
    </header>
    <div class="container">
        <h2>Fitness Workouts</h2>
        <div class="video">
            <iframe src= "https://www.youtube.com/embed/Im5wJLdudDg" title="Total Body Strength Training Gym Routine | Joanna Soh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/aTGb9NEH2NI" title="BEST Aerobics WORKOUT At HOME || 15 MIN Workout for WEIGHT LOSS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" frameborder="0" allowfullscreen></iframe>
        </div>

        <h2>Wellness and Mindfulness</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/UqFzWx8X5AM" title="My Fat Burning GYM Routine (Treadmill Interval Running)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/D5hwvIO8S8w" title="Mayo Clinic Minute: Which is better for losing weight – diet or exercise?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>