/* CSS for the navigation bar */
.navbar {
    background-color: blue; /* Set background color */
    overflow: hidden; /* Hide overflow content */
}

/* Style for navigation bar links */
.navbar a {
    float: left; /* Make links appear side by side */
    display: block; /* Display links as blocks */
    color: white; /* Set text color */
    text-align: center; /* Center-align text */
    padding: 14px 16px; /* Add padding for spacing */
    text-decoration: none; /* Remove underlines from links */
}

/* On hover, change link color */
.navbar a:hover {
    background-color: darkblue; /* Change background color */
    color: black; /* Change text color */
}
body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color:lightcyan;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
    color: blue;
}
p {
    color: black;
}
.details {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}